signing.keyId=xxxxxxx
signing.password=YourPublicKeyPassword
signing.secretKeyRingFile=~/.gnupg/secring.gpg

sonatypeUsername=NotYourRealUserName
sonatypePassword=NotARealPassword

groupId = com.yourcompany.whatever
